<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="5xxQlm5lFwZzK4OnRLpL2VXM71Hitwn_DI8rBkcYiSA">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">
	<link href="https://markwoodbridge.com" title="Mark Woodbridge" rel="author">
	<link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==">
	<title>Mark Woodbridge | {{ page.title }}</title>
	<style>
		:root {
			--link-color: #337ab7;
		}

		body {
			max-width: 50rem;
		}

		h1 {
			margin-bottom: var(--spacing-medium);
		}
	</style>
</head>

<body class="margin-x-auto margin-y-none padding-medium">

	{{content}}

	<script>
		(function (f, a, t, h, o, m) {
			a[h] = a[h] || function () {
				(a[h].q = a[h].q || []).push(arguments)
			};
			o = f.createElement('script'),
				m = f.getElementsByTagName('script')[0];
			o.async = 1; o.src = t; o.id = 'fathom-script';
			m.parentNode.insertBefore(o, m)
		})(document, window, '//fathom.markwoodbridge.com/tracker.js', 'fathom');
		fathom('set', 'siteId', 'GEVSO');
		fathom('trackPageview');
	</script>
</body>

</html>
